$first-base-color: #222;
$second-base-color: #61DAFB;
$line-color: #ccc;

.Board{
  width: 720px;
  height: 480px;
  display: inline-block;
  margin-top: 5px;
  background: $first-base-color;
  border: 3px solid $line-color;
  vertical-align: top;
  cursor: pointer;

  .Square{
    background: $first-base-color;
    color: $second-base-color;
    border: 2px solid #ffffff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
    cursor: pointer;

    &:hover{
      background: #ffffff;
    }

    &:active{
      background-color: $second-base-color;
    }

    &:disabled{
      border: 1px solid $second-base-color;
      &:hover{
        background: $first-base-color;
      }
    }
  }

  .Current{
    background: #61DAFB;
    color: #ffffff;
    border: 2px solid #ffffff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
    cursor: pointer;
  }

  .Marking{
    background: $first-base-color;
    background-image: url('/img/marking.png');
    background-repeat: no-repeat;
    background-position: center center;
    color: $second-base-color;
    border: 2px solid $second-base-color;
    float: left;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
    cursor: pointer;
  }

  .Bombed{
    background-image: linear-gradient(45deg, $first-base-color 20%,
                                             $second-base-color 20%, $second-base-color 40%,
                                             $first-base-color 40%, $first-base-color 60%,
                                             $second-base-color 60%, $second-base-color 80%,
                                             $first-base-color 80%, $first-base-color);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
    cursor: pointer;
  }

  .Bomb{
    background: $first-base-color;
    background-image: url('/img/bomb.png');
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #FC3737;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
  }

  .Explode{
    background: $first-base-color;
    color: #ffffff;
    border: 1px solid #FC3737;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
  }
}
