$first-base-color: #222;
$second-base-color: #61DAFB;
$line-color: #ccc;

.Board{
  width: 720px;
  height: 480px;
  display: inline-block;
  margin-top: 5px;
  background: $first-base-color;
  border: 3px solid $line-color;
  vertical-align: top;

  .Square{
    background: $first-base-color;
    border: 1px solid $second-base-color;
    float: left;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;

    &:hover{
      background: #ffffff;
    }

    &:active{
      background-color: $second-base-color;
    }
  }
}
