$first-base-color: #222;
$second-base-color: #61DAFB;
$line-color: #ccc;

.Navigation{
  width: 960px;
  height: 80px;
  margin-top: 5px;
  display: inline-block;
  background: $first-base-color;
  border: 3px solid $line-color;
  vertical-align: top;

  .Reset{
    width: 76px;
    height: 76px;
    background: $first-base-color;
    vertical-align: middle;
    float: left;
    margin-top: 4px;
    margin-left: 48px;
  }

  .AboutStage{
    width: 180px;
    height: 80px;
    color: $second-base-color;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    float: left;
    margin-left: 64px;
    span{
      font-size: 36px;
      font-weight: bold;
    }
  }

  .AboutBombs{
    width: 180px;
    height: 80px;
    color: #FC3737;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    float: left;
    margin-left: 64px;
    p{
      margin: 6px 0;
    }
    span{
      display: block;
      font-size: 36px;
      font-weight: bold;
    }
  }

  .TimeDisplay{
    height: 80px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 48px;
    span{
      font-size: 24px;
      font-weight: bold;
    }
  }
}
