.Board {
  width: 720px;
  height: 480px;
  display: inline-block;
  margin-top: 5px;
  background: #222;
  border: 3px solid #ccc;
  vertical-align: top;
  cursor: pointer;
}

.Board .Square {
  background: #222;
  color: #61dafb;
  border: 2px solid #ffffff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.Board .Square:hover {
  background: #ffffff;
}

.Board .Square:active {
  background-color: #61dafb;
}

.Board .Square:disabled {
  border: 1px solid #61dafb;
}

.Board .Square:disabled:hover {
  background: #222;
}

.Board .Current {
  background: #61dafb;
  color: #ffffff;
  border: 2px solid #ffffff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.Board .Marking {
  background: #222;
  background-image: url("/img/marking.png");
  background-repeat: no-repeat;
  background-position: center center;
  color: #61dafb;
  border: 2px solid #61dafb;
  float: left;
  line-height: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.Board .Bombed {
  background-image: linear-gradient(
    45deg,
    #222 20%,
    #61dafb 20%,
    #61dafb 40%,
    #222 40%,
    #222 60%,
    #61dafb 60%,
    #61dafb 80%,
    #222 80%,
    #222
  );
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.Board .Bomb {
  background: #222;
  background-image: url("/img/bomb.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #fc3737;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
}

.Board .Explode {
  background: #222;
  color: #ffffff;
  border: 1px solid #fc3737;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
}
