.Navigation {
  width: 960px;
  height: 80px;
  margin-top: 5px;
  display: inline-block;
  background: #222;
  border: 3px solid #ccc;
  vertical-align: top;
}

.Navigation .Reset {
  width: 76px;
  height: 76px;
  background: #222;
  vertical-align: middle;
  float: left;
  margin-top: 4px;
  margin-left: 48px;
}

.Navigation .AboutStage {
  width: 180px;
  height: 80px;
  color: #61DAFB;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  float: left;
  margin-left: 64px;
}

.Navigation .AboutStage span {
  font-size: 36px;
  font-weight: bold;
}

.Navigation .AboutBombs {
  width: 180px;
  height: 80px;
  color: #FC3737;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  float: left;
  margin-left: 64px;
}

.Navigation .AboutBombs p {
  margin: 6px 0;
}

.Navigation .AboutBombs span {
  display: block;
  font-size: 36px;
  font-weight: bold;
}

.Navigation .TimeDisplay {
  height: 80px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-right: 48px;
}

.Navigation .TimeDisplay span {
  font-size: 24px;
  font-weight: bold;
}
